 :root {
   /* --main-bg-color: url("https://raw.githubusercontent.com/gilbN/theme.park/master/resources/blur-noise.png"), url("https://raw.githubusercontent.com/gilbN/theme.park/master/resources/preset-light2.png") center center/cover no-repeat fixed;
     --modal-bg-color: url("https://raw.githubusercontent.com/gilbN/theme.park/master/resources/blur-noise.png"), url("https://raw.githubusercontent.com/gilbN/theme.park/master/resources/preset-dark2.png") center center/cover no-repeat fixed;
   */
   --main-bg-color: url("https://raw.githubusercontent.com/gilbN/theme.park/master/resources/blur-noise.png") repeat scroll 0% 0%, radial-gradient(circle, rgba(11,98,94,1) 0%, rgba(75,191,175,1) 100%), rgb(11,98,94) center center/cover no-repeat fixed;

   --modal-bg-color: #4ABFAF; /* PES Body Color */
   --modal-header-color: #08635E; /* PES Fin Color */
   --modal-footer-color: #80DDD4; /* PES Fin-Logo-Ship Color */

   --drop-down-menu-bg: #80DDD4; /* PES Fin-Logo-Ship Color */

   --button-color: #EFE7CC; /* PES Gasket Color */
   --button-color-hover: #A09A88; /* PES Gasket Color +third darkness */
   --button-text: #333333; /* PES Bolt Color */
   --button-text-hover: #333333; /* PES Bolt Color */

   --accent-color: #B52B2A; /* PES Stripe Color */
   --accent-color-hover: #791C1C; /* PES Stripe Color +third darkness */
   --link-color: #C3E3EF;  /* PES Window Color */
   --link-color-hover: #29AAE2; /* PES Light BG Color */
   --label-text-color: #333333; /* PES Bolt Color */

   --text:#333333; /* PES Bolt Color */
   --text-hover: #333333; /* PES Bolt Color */
   --text-muted: #555555; /* PES Bolt Color -third darkness */

    /*Specials*/
    --arr-queue-color: #27c24c; /* Servarr apps + Bazarr*/
    --petio-spinner: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);/* Made with https://codepen.io/jsm91/embed/ZEEawyZ */
    --gitea-color-primary-dark-4: 255, 193, 7;
 }
