 :root {
   /* --main-bg-color: url("https://raw.githubusercontent.com/gilbN/theme.park/master/resources/blur-noise.png"), url("https://raw.githubusercontent.com/gilbN/theme.park/master/resources/preset-light2.png") center center/cover no-repeat fixed;
     --modal-bg-color: url("https://raw.githubusercontent.com/gilbN/theme.park/master/resources/blur-noise.png"), url("https://raw.githubusercontent.com/gilbN/theme.park/master/resources/preset-dark2.png") center center/cover no-repeat fixed;
   */
   --main-bg-color: url("https://raw.githubusercontent.com/gilbN/theme.park/master/resources/blur-noise.png") repeat scroll 0% 0%, radial-gradient(circle, rgba(0,149,200,1) 0%, rgba(41,170,226,1) 44%, rgba(195,226,239,1) 100%), rgb(0, 0, 0) center center/cover no-repeat fixed;

   --modal-bg-color: #4ABFAF; /* PES Body Color */
   --modal-header-color: #08635E; /* PES Fin Color */
   --modal-footer-color: #80DDD4; /* PES Window Color */

   --drop-down-menu-bg: #80DDD4; /* PES Fin-Logo-Ship Color */

   --button-color: #EFE7CC; /* PES Gasket Color */
   --button-color-hover: #e59029;
   --button-text: #333333; /* PES Bolt Color */
   --button-text-hover: #333333; /* PES Bolt Color */

   --accent-color: 229, 160, 13;
   --accent-color-hover: #ffc107;
   --link-color: #C3E3F0;
   --link-color-hover: #fff;
   --label-text-color: #fff;

   --text:#333333; /* PES Bolt Color */
   --text-hover: #333333; /* PES Bolt Color */
   --text-muted: #999;

    /*Specials*/
    --arr-queue-color: #27c24c; /* Servarr apps + Bazarr*/
    --petio-spinner: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);/* Made with https://codepen.io/jsm91/embed/ZEEawyZ */
    --gitea-color-primary-dark-4: 255, 193, 7;
 }
